@page {
	margin-top: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
}
body{
	font:12px Arial, Tahoma, Verdana, Helvetica, sans-serif;
	background-color:#fff;
	color:#000;
	margin:0;
	padding: 0;
	height: 100%;
	/*border: solid 1px;*/
}
header{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 120px;
}
header img{
	width:25%;
	margin: 0;
	height: 90px;
	padding-top: 1em;
	padding-left: .2em;
}
header h2{
	width:70%;
	font-size: 3.3em;
	margin: 0;
	margin-top: 0.5em;
	padding: 0;
	display: inline-block;
}
header h3{
	font-size: 1em;
	margin-left: 38%;
}
hr{
	width: 100%;
	margin: 0;
	left: -5em;
	top: 6em;
}
#me{
	margin-top: 2em;
	width: 83%;
	height: 90px;
	border: solid 0px;
	display: inline-block;
	margin-left: -70px;
}
#me h2{
	font-size: 2.8em;
	margin: 0;
	padding: 0;
}
#me h4{
	font-size: 1.5em;
	color: #555;
	margin: 0;
	padding: 0;
}

#linea{
	margin: 0px;
	padding: 0px;
	margin-top: -5px;
	color: #444;

}
#linea h3
{
	text-align: center;
	line-height: 0.5;
	font-size: 1.5em;
	color: #444;
}
#cuerpo{
	width: 100%;
}
#cuerpo h2{
	width: 100%;
	font-size: 0.9em;
	font-weight: normal;
}
.encabezado{
	font-size: 16px;

}

table {
  margin-top: 15px;
}

thead {
  background-color: #eeeeee;
}

tbody {
  background-color: #ffffee;
}
th{
border-right: 1px solid black;

}
th,td {
  padding: 3pt;

}


table.collapse {
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 14px;
}

table.collapse td {
  border: 1px solid black;
}
